html {
  background: gray;
  height: 100vh;
  width: 100vw;
  background: #27292b;
  background: linear-gradient(to top left, #404040, #27292b);
}

body {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* a:hover {
  TBD
} */

.white-text {
  color: white;
  /* text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000; */
  font-family: Nunito;
  font-weight: 200;
}

.header {
  height: 3em;
  display: flex;
  justify-content: space-between;
  /* padding-right: 1em;
  align-items: center; */
  background: #121314;
  background: linear-gradient(to left, #121314, #27292b 40%);
}

.header-icon-container {
  display: flex;
  align-items: center;
  width: 20vw;
}

.header-icon {
  height: 85%;
  margin-left: 1em;
}

.header-links-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
  align-items: center;
}

.header-link {
    font-size: 1em;
    margin-right: 1em;
    margin-left: 1em;
    text-shadow: none;
}

.title {
  font-size: 2.35em;
  margin-top: 25vh;
  margin-left: 7.5%;
}

.description {
  font-size: 1.4em;
  margin-left: 7.5%;
}

.flex-icons-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 2.5em;
}